.navbar-custom {
    background-color: white;
    padding: 0;
}

.navbar a {
    color: black;
}

.navbar a:hover, .active a {
    color: #8f001a;
}

.nav-link {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}

.bg, .carousel {
    /* The image used */
    background-image: url("data/img/slideshow1.jpg");

    /* Full verticle height */
    max-height: 100vh;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-bg {
    height: 100%;
    /*background-color: rgb(255, 255, 255, 0.65);*/
    background: linear-gradient(rgb(255,255,255,0.6),rgb(0,0,0,0.45));
    margin: 0;
    padding: 0;
}
/* Chevron stuff: */
.bottom-aligned {
    position: absolute;
    color: whitesmoke;
    left:0;
    right:0;
    bottom: 0;
    padding-bottom: 2%;
    font-size: 2.25rem;
    font-weight: 100;
}

.bottom-aligned:hover{
    text-decoration: none;
    color: grey;
}

body {
    background-color: whitesmoke;
    color: #474747;
    height: 100%;
    font-size: 1.1em !important;
}

.social-media {
    background-color: #8f001a;
    text-decoration: none;
    color: white !important;
    font-size: 1.1rem;
}

.social-media a, h {
    color: white;
    text-decoration: none;
}

.social-media a:hover {
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.2rem;
}

.text-section {
    padding:2% 10%;
}

.smk-bg {
    background-color: lightgrey;
}

@media (max-width: 800px){ 
    body{
        font-size: 0.75rem;
    }
    .nav, .navbar-brand {
        font-size: 0.9rem;
    }
    .form-control, .btn {
        font-size: 0.75rem;
    }
    .container-semi-fluid{
        max-width: 100% !important;
    }
}